

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.swiper-outer {
	background: none repeat scroll 0 0 transparent;
	margin: 0 auto;
	padding: 0px 0px;
	/*position: relative;*/
	/*height: 600px;*/

	z-index: 1;
	/*width: 100%;*/
	height: 100%;
	position: relative;
	/*position: absolute;
	top: 0;
	left: 0;*/
	overflow:hidden;
}
.swiper-outer .arrow-left {
	background: url("../img/arrows.png") no-repeat scroll left top transparent;
	height: 30px;
	left: 10px;
	margin-top: -15px;
	position: absolute;
	top: 50%;
	width: 17px;
	z-index: 2;

}
.swiper-outer .arrow-right {
	background: url("../img/arrows.png") no-repeat scroll left bottom transparent;
	height: 30px;
	margin-top: -15px;
	position: absolute;
	right: 10px;
	top: 50%;
	width: 17px;
	z-index: 2;

}

.swiper-slide {
	text-align:center;
	position: relative;
	/*height: ;*/
}

.my_pagination {
	margin-top: 5px;
	text-align: center;
	z-index: 2;

	position:absolute;
	bottom:0;
	width:100%;

}
.my_pagination .swiper-pagination-switch {
	background: none repeat scroll 0 0 #942E53;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 1px 2px #555555 inset;
	cursor: pointer;
	display: inline-block;
	height: 5px;
	width: 5px;
	margin: 0 3px;
}
.my_pagination .swiper-active-switch {
	background: none repeat scroll 0 0 #FFFFFF;
}












